{
    "extends": [
        "eslint:recommended"
    ],
    "rules": {
        "no-console": 0,
        "no-debugger": 1
    },
    "parserOptions": {
        "ecmaVersion": 8,
        "sourceType": "module"
    },
    "env": {
        "node": true,
        "browser": true
    },
    "globals": {
        "PIXI": true
    }
}