{
    "extends": [
        "@pixi/eslint-config"
    ],
    "rules": {
        "no-self-assign": 0,
        "no-case-declarations": 0,
        "max-depth": 0,
        "@typescript-eslint/camelcase": 0,
        "@typescript-eslint/no-namespace": 0,
        "no-inner-declarations": 0
    }
}