/* ==========================================================================
   HTML5 Boilerplate styles - h5bp.com (generated via initializr.com)
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

img {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */

#content {
	border:1px solid #ccc;
	width:800px;
	height:500px;
	margin-left:auto;
	margin-right:auto;
	display:block;
}

#editor {
	width:800px;
	min-height:200px;
	margin-left:auto;
	margin-right:auto;
	display:block;
	padding-top:20px;
	padding-bottom:100px;
}

#editor .ui-state-focus {
    outline: none;
}

.ui-selectmenu-button {
    outline: none;
}

#editor .option div {
    display: inline-block;
    margin: 5px;
}

#editor .category {
    font-weight: bold;
}

.unitSlider {
	width:150px;
	margin-left: 45px !important;
}

.slider label {
	margin-top: 10px;
}

.slider .sliderStart {
	float: left;
}

.slider .sliderEnd {
	float: right;
}

.slider input {
	width: 30px;
	position: absolute;
	left: -45px;
}

.positiveSpinner {
    width: 30px;
}

.generalSpinner, .frequencySpinner {
    width: 50px;
}

.colorPicker {
    width: 50px;
}

.particleImage {
    position: relative;

}

.particleImage button {
    position: absolute;
    top: 0px;
    width: 16px !important;
    height: 16px;
    z-index:1;
    display: none;
}

.particleImage button .ui-button-text {
    display: none;
}

.particleImage button .ui-icon {
    margin-top: -8px;
    margin-left: -8px;
}

.particleImage .remove {
    right: 0px;
}

.particleImage .download {
    right: 20px;
}

.particleImage:hover button {
    display: block;
}

#defaultImageSelector {
    width: 200px;
}

#imageUpload {
    margin-top: 10px;
    height: 30px;
}

#configDialog textarea {
    margin-top: 15px;
    width: 365px;
}

#emitSpawnType {
	width: 150px;
}

body, html {
	margin: 0;
	padding: 0;
	font-family: Arial, Verdana, sans-serif;
	font-size: 12px;
	font-weight: normal;
	background-color: #ddd;
}

header {
	font-size:14px;
	padding-top:20px;
}

header a{
	cursor:pointer;
	color:#069;
	padding:0 10px;
}

header,
footer {
	text-align:center;
	min-width:900px;
}

footer {
	color:#999;
}


/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 35em) {

}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
       only screen and (min-resolution: 144dpi) {

}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 100%;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow:none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}