body {
    color:#ccc;
    font-size: 1em;
    line-height: 1;
	margin: 0;
	padding: 0;
	font-family: Arial, Verdana, sans-serif;
	font-weight: normal;
	background-color: #fff;
}

#index {
    max-width:600px;
    margin:0 auto;
    line-height:1.4;
}

#framerate {
    font-size:75%;
    padding:4px;
    position:absolute;
}

#particleCount {
    font-size:75%;
    padding:4px;
    top: 20px;
    position:absolute;
}

#instructions {
    color:#fff;
    text-align:center;
    width:100%;
    position: absolute;
    padding:4px 0;
}

canvas {
    display:block;
}